<section>

    <div class="row">
        <div class="col-md-8 col-lg-6 d-flex align-items-stretch mb-10 mb-lg-0" >
          <div>
            <img class="imagen" src="../../../assets/aracnidos_img/Bothriurus bonariensis.jpg" alt="">
          </div>
        </div>
        <div class="col-md-8 col-lg-6 d-flex align-items-stretch mb-10 mb-lg-0" >
            <div>
                <img class="imagen" src="../../../assets/aracnidos_img/Buthus occinatus.jpg" alt=""> 
            </div>
          </div>
      </div>
      <p class="texto_conserv">
        Las especies de escorpiones y alacranes, habitan principalmente en zonas cálidas y áridas. Durante el día se refugian bajo piedras, trozos de leña, corteza de troncos, escombros, hojas, etc. y en la noche salen a cazar insectos y arañas. En los meses calurosos del verano buscan sitios más frescos, pudiendo ingresar a las viviendas y ocultarse en cocinas, baños, entretechos, en el interior de calzado, etc. Si se ven amenazados o son molestados intencional o accidentalmente pueden provocar una picadura comparable en dolor a la de las abejas o las avispas. En casos extremos puede provocar dolor intenso, parálisis e, incluso la muerte, especialmente en personas hipersensibles.
        <br>
        <br>
        La hembra produce crías vivas (alrededor de 35), a las que transporta sobre su dorso por 7 a 30 días o hasta su primera muda. Las ninfas pasan por 6 mudas hasta alcanzar su estado adulto, lo que puede tomar varios meses e incluso 4 años. Los adultos pueden vivir de 1 a 6 años. Aunque no es común, la partenogénesis (reproducción sin fertilización) ocurre en los escorpiones. También se presenta en ellos, la regeneración de apéndices perdidos aunque a veces con malformaciones.
    </p> 
    <div class="row">
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="imagen" src="../../../assets/aracnidos_img/escorpion con crias.jpg">
            <p class="letra">Compsobuthus werneri hembra con sus crías</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
            <div>
            </div>
          </div>
      </div>
      <p class="texto_conserv" >
        La mayoría de los escorpiones se reproducen sexualmente y la mayor parte de las especies presentan sexos separados, pero existen informes sobre reproducción por partenogénesis.
        <br>
        <br>
        Antes del nacimiento de las crías, la hembra eleva la parte delantera de su cuerpo y coloca los pedipalpos y las patas delanteras debajo de ella para recoger a las crías («cesta de nacimiento»). Las crías surgen una a una de los opérculos genitales, expulsan la membrana embrionaria, si existe, y se colocan sobre el lomo de la madre, donde permanecen hasta que han realizado al menos una muda. El periodo anterior a la primera muda se denomina fase projuvenil; las crías no pueden alimentarse ni picar, pero tienen ventosas en los tarsos, que les sirven para agarrarse a la madre; este periodo dura de cinco a veinticinco días, dependiendo de la especie. Las crías mudan por primera vez simultáneamente en un proceso que dura de seis a ocho horas, marcando el inicio de la etapa juvenil.
    </p>
      <div class="row">
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="imagen" src="../../../assets/aracnidos_img/ciclo_vidaescorpion.jpg">
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
            <div>
            </div>
          </div>
      </div>
    </section>