<section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Mantenimiento</h2>
       <br>
        <h1>Básicamente podemos agrupar a las tarántulas en 4 categorías: </h1>
        <br>
            <p > 1) Terrestres: Son aquellas que pasan toda su vida a nivel del suelo escondidas en madrigueras debajo de las rocas, los troncos, en hoyos hechos por otros animales o por ellas mismas, generalmente son robustas y pesadas. (Brachypelma, Aphonopelma, Grammostola etc.)</p>
            <br>
            <p >2) Arborícolas: Son aquellas que viven en los troncos y las copas de los árboles en oquedades, debajo de la corteza o en madrigueras de seda que ellas construyen, generalmente son más delgadas y gráciles que las terrestres. (Avicularia, Psalmopoeus, Poecilotheria etc.)</p>
            <br>
            <p >3) Cavadoras: Son aquellas de hábitos fosoriales que pasan toda su vida dentro de extensas galerías debajo de la tierra y solo salen en horas crepusculares para alimentarse, tienen características muy específicas que les permiten vivir bajo tierra, como patas robustas y fuertes para cavar. (Pelinobius, Eucratoscelus, Cotztetlana, Haplopelma etc.)</p>
            <br>
            <p >4) Semi arborícolas: Son aquellas que viven en los troncos de los aboles, arbustos y troncos de cactáceas en huecos o galerías de seda a no mucha distancia del suelo, en muchos casos adaptadas para sobre pasar las inundaciones temporales del lugar donde viven, son de tamaños medios por lo general. (Ephebopus, Chromatopelma, Cyriopagopus etc.) </p>
            <br>
            <p >Sabiendo esto podemos empezar a construir sus viviendas de acuerdo a sus hábitos.</p>
            <br>
            <h2>Contenedores</h2>
            <br>
            <p>Las tarántulas son animales crepusculares y de poca necesidad de espacio, por lo tanto son una mascota muy conveniente y versátil, cualquier contenedor de plástico o cristal puede servir perfectamente para construir su vivienda tomando en cuenta que tiene que ser transparente para que podamos monitorear a nuestro ejemplar sin dificultad.</p>
            <br>
            <h1>Especies terrestres</h1>
            <p> Si escogemos una especie terrestre el encierro deberá ser más largo y ancho que alto, podemos tomar como base las peceras de 20L que suelen ser ideales para especies comunes, debiendo siempre colocarlo de manera horizontal.</p>
            <br>
            <div class="row">
       
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" data-aos="fade-up">
                  <div>
                    <img class="imagen" src="../../../assets/img/terrario pecera.jpg" alt="">
                    <p>Pecera rectangular de cristal</p>
                  </div>
                </div>
      
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                  <div>
                    <img class="imagen" src="../../../assets/img/Terrario tupper.jpg" alt="">
                    <p>Tupper de plástico</p>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" data-aos="fade-up">
                    <div>
                      <img class="imagen" src="../../../assets/img/terrario comercial.jpg" alt="">
                      <p>Mascotera comercial de acrilico</p>
                    </div>
                  </div>
      
              </div>
              <h1>Especies arborícolas</h1>
            <p> Para especies arborícolas el terrario deberá ser más alto que largo y ancho, pudiéndose utilizar los mismos tipos de contenedores antes mencionados. pero colocándolos de manera vertical para que las tarántulas se sientan seguras en la altitud, es importante poner troncos, ramas o plantas naturales o artificiales para brindarle a los ejemplares un lugar para construir sus madrigueras. </p>
            <br>
              <div class="row">
       
                <div class="col-md-10 col-lg-6 d-flex align-items-stretch mb-10 mb-lg-0" data-aos="fade-up">
                  <div>
                    <img class="imagen" src="../../../assets/img/terrario pecera.jpg" alt="">
                    <p>Pecera de cristal</p>
                  </div>
                </div>
      
                <div class="col-md-10 col-lg-6 d-flex align-items-stretch mb-10 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                  <div>
                    <img class="imagen" src="../../../assets/img/terrario acrilico.jpg" alt="">
                    <p>Terrario de acrílico</p>
                  </div>
                </div>
      
              </div>
              <h1>Especies Cavadora</h1>
            <p> Si la tarántula es cavadora dispondremos de un terrario vertical como el de las terrestres solo que pondremos a su disposición el doble de sustrato para que pueda hacer sus galerías subterráneas a sus anchas y se sienta tranquila y segura. </p>
            <br>
              <div class="row">
       
                <div class="col-md-12 col-lg-12 d-flex align-items-stretch mb-12 mb-lg-0" data-aos="fade-up">
                  <div>
                    <img class="imagen" src="../../../assets/img/terrario cavadora.jpg" alt="">
                    <p>Importante agregar el doble de sustrato para que la tarantula pueda hacer sus galerias</p>
                  </div>
                </div>
              </div>
              <h1>Semi arborícolas</h1>
            <p> Para las especies semi arborícolas podemos utilizar de igual modo terrarios horizontales con algún tronco, o rama pegada a una pared del contenedor para que ahí haga su madriguera. </p>
            <br>
            <div class="row">
       
                <div class="col-md-12 col-lg-12 d-flex align-items-stretch mb-12 mb-lg-0" data-aos="fade-up">
                  <div>
                    <img class="imagen" src="../../../assets/img/terrario h.jpg" alt="">
                  </div>
                </div>
              </div>
      </div>
      
              </div>
              
      </section>


