

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Heavy Aracnidos</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" [routerLink]="['inicio']">Inicio</a></li>
          <li class="dropdown"><a href="#"><span>Tarántulas</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="#services2">Ciclo biologico</a></li>
              <li><a class="nav-link scrollto" href="#services">Conservacion</a> </li>
              <li><a class="nav-link scrollto " href="#portfolio">3</a></li>
              <li><a class="nav-link scrollto" href="#team">4</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Cuidados</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="#services2">1</a></li>
              <li><a class="nav-link scrollto" href="#services">2</a> </li>
              <li><a class="nav-link scrollto " href="#portfolio">3</a></li>
              <li><a class="nav-link scrollto" href="#team">4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact2">Galeria</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  