

  <!-- ======= Header ======= -->
  <header  class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div> 
       <img [routerLink]="['inicio']" class="logoimg nav-link" src="../../assets/logos/Picsart_23-03-07_08-58-59-651.png" alt="">
      </div>
      <div class="logo">
        <a class="titulo nav-link scrollto active" [routerLink]="['inicio']">Heavy Aracnidos</a>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active comp" [routerLink]="['inicio']">Inicio</a></li>
          <li class="dropdown"><a class="nav-link comp" [routerLink]="['tarantulas']"><span>Tarántulas</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto comp" [routerLink]="['Tarciclo']">Ciclo biologico</a></li>
              <li><a class="nav-link scrollto comp" [routerLink]="['Tarconservacion']">Conservacion</a> </li>
              <li><a class="nav-link scrollto comp" [routerLink]="['Tarmuda']">Ecdisis o muda</a></li>
              <li><a class="nav-link scrollto comp" [routerLink]="['Taranatomia']">Anatomia</a></li>
            </ul>
          </li>
          <li class="dropdown"><a  class="nav-link comp" [routerLink]="['Escorpiones']"><span>Escorpiones</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto comp" [routerLink]="['Escciclo']">Ciclo biologico</a></li>
              <li><a class="nav-link scrollto comp" [routerLink]="['Escconservacion']">Conservacion</a> </li>
              <li><a class="nav-link scrollto comp" [routerLink]="['Escmuda']">Ecdisis o muda</a></li>
              <li><a class="nav-link scrollto comp" [routerLink]="['Escanatomia']">Anatomia</a></li>
            </ul>
          </li>
          <li class="dropdown"><a  class="nav-link comp" [routerLink]="['Cuidados']"><span>Cuidados</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto comp" [routerLink]="['mantenimiento']">Mantenimiento</a></li>
              <li><a class="nav-link scrollto comp" [routerLink]="['enfermedades']">Enfermedades y accidentes</a> </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto comp" [routerLink]="['Galeria']">Galeria</a></li>
          <li><a class="nav-link scrollto comp" [routerLink]="['Contacto']">Contacto</a></li>
          <li><a class="nav-link scrollto comp" [routerLink]="['sesion']" *ngIf="usuario_activo==false">Iniciar Sesión <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
          <li><a class="nav-link scrollto comp" [routerLink]="['']"  *ngIf="usuario_activo==true" (click)="cerrarsesion()" >Cerrar Sesión <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  