.titulo{
    font-size: 42px;
    -webkit-text-stroke: 1px white;
    font-family: 'nordic_metal_band'; 
    background: -webkit-linear-gradient(top, rgb(14, 14, 14), rgb(83, 83, 83));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
    }

.logoimg{
    width: 75px;
    height: 75px;
    padding: 5px;
    cursor: url(../../assets/cursor/arañacursor.png),auto;
}

header{
    background: rgb(25,25,25);
    background: linear-gradient(0deg, rgb(34, 34, 34) 0%, rgb(0,0,0,1) 100%);
    cursor: url(../../assets/cursor/cursornormal.png), auto;
}
a{
    cursor: url(../../assets/cursor/arañacursor.png),auto;
}

.comp{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
}

:hover.comp{
    color: rgba(191, 141, 188, 0.859); 
}
