<section>
    <br>
    <h4>Conservación</h4>
    <br>
    <p class="texto_conserv">​
        El mantenimiento en cautiverio de los escorpiones es muy similar al de las tarántulas, primero que nada debemos asegurarnos de la especie que vamos a adquirir, sabiendo esto podemos empezar a tomar medias en cuanto al terrario, los contenedores recomendados son los mismos que las tarántulas que se pueden ver en la pestaña de mantenimiento,  las dimensiones dependerán de la especie elegida, la mayoría de los escorpiones encontrados en el mercado son de medianos a grandes, así que recomiendo un contenedor con capacidad de 20L, éste será suficiente.
        <br>
        Es muy importante mantener un ejemplar por terrario, los escorpiones son animales solitarios y el canibalismo está siempre presente, aunque en vida libre puedan cohabitar ya sea debajo de una roca, tronco o debajo de alguna misma corteza, no significa que sean animales sociales, en un terrario aunque sea espacioso y cuente con buenas fuentes de alimento al tiempo siempre habrá bajas por canibalismo, por eso es recomendable mantener solo un ejemplar por terrario, normalmente en las tiendas de animales vemos contenedores muy grandes con decenas de escorpiones juntos, generalmente de géneros grandes y comunes como Pandinus y Heterometrus, los animales ahí parecen no pelear pero no hay que engañarnos, no es porque estén felices de estar juntos, sino más bien porque están completamente estresados queriendo alejarse los unos de los otros y escapar además de estar en muy malas condiciones.
        <br>
        Es importante no manejar estas especies, ya que cuentan con venenos mucho más peligrosos que las tarántulas se desaconseja completamente la manipulación de estos animales sin motivos importantes.
    </p> 
    <div class="row">
        <div class="col-md-8 col-lg-6 d-flex align-items-stretch mb-10 mb-lg-0" >
          <div>
            <img class="imagen" src="../../../assets/aracnidos_img/pcavimanus.jpg" alt="">
          </div>
        </div>
        <div class="col-md-8 col-lg-6 d-flex align-items-stretch mb-10 mb-lg-0" >
            <div>
                <img class="imagen" src="../../../assets/aracnidos_img/cavimanuseating.jpg" alt=""> 
            </div>
          </div>
      </div>
    <p class="texto_conserv" >  
        Los elementos indispensables al igual que con las tarántulas serán: sustrato, (igualmente recomiendo el peat moss, aunque algunas especies desérticas preferirán las mezclas duras y compactas como la arcilla, yo he utilizado tierra amarilla (tepetate) y funciona muy bien, solo hay que tener en cuenta que añadirá mucho peso al terrario), un bebedero con agua fresca y limpia, un escondite adecuado (dependerá de la especie podemos poner piedras calizas, en el caso del género Hadógenes, siempre bien sujetas al terrario para que no se muevan y pongan en peligro la integridad de nuestros ejemplares, podemos poner hojarasca de tamaño pequeño en el caso de Heterometrus y algunas especies de Diplocentrus, algunos troncos en caso del género Centruroide,) Una tapa anti fugas es imprescindible.
    </p>
    </section>