<section>
    <br>
    <br>  
    <h4>Anatomía</h4>

    <img class="imagen_anatomia" src="../../../assets/aracnidos_img/anatomia_t.PNG">

    <p class="texto_anatomia">El cuerpo de las tarántulas está dividido en 2 segmentos, el prosoma (pro- adelante, soma- cuerpo) 
        y y el opistosoma (opisto- atrás, soma- cuerpo), están unidos por el pedícelo.
        <br>
        <br>
        En el prosoma se encuentran las patas locomotoras, los pedipalpos, los quelíceros, los colmillos, la boca y los ojos, se conforma 
        con dos placas esclerosadas que lo protegen, el caparcho (arriba) y el esternón (abajo), en ambas placas se encuentran en su cara 
        interna los puntos de inserción de los músculos retractores de las patas y quelíceros y se pueden apreciar en forma de pequeñas 
        hendiduras; las siglas en el esternón y la fóvea en el caparcho. En el prosoma está situado también el sistema nervioso central, 
        el comienzo del tracto digestivo y miles de terminaciones nerviosas.
        <br>
        <br>
        En la parte externa lateral del prosoma se encuentran las 8 patas locomotoras que se nombran con números romanos para su identificación 
        de adelante hacia atrás, es decir Pata I, II, III y IV, se dividen en 7 segmentos que son: Coxa, trocánter, fémur, patela o rótula, tibia, 
        metatarso y tarso, en éste últimos se encuentran las uñas o garras tarsales, por debajo del tarso y el metatarso en todas las patas están 
        las escópulas que están conformadas por miles de pilosidades que le permiten trepar por casi cualquier superficie incluso cristal, a simple 
        vista son opacas pero con luz se aprecian sus colores iridiscentes. Estos segmentos están unidos por un ligamento llamado pléura que es muy 
        elástico y resistente, cada pata está cubierta por miles de tricobotrias y llena de músculos retractores ya que para el movimiento extractor 
        utilizan la presión de la hemolinfa (sangre de los artrópodos), en el caso de los machos de algunas especies al alcanzar la madurez sexual y 
        realizar su último cambio de piel, desarrollan una especie de ganchos en la tibia del primer par de patas llamados ganchos tibiales con los que 
        sujetan los colmillos de las hembras durante la cópula. 
        <br>
        <br>
        Hacia la parte externa se encuentran los quelíceros, grandes y duros donde están los colmillos y las glándulas donde se produce el veneno, 
        los músculos para bombearlo y un delgado ducto conectado a los colmillos, los cuales tienen una pequeña abertura casi en la punta como una aguja 
        hipodérmica, en la parte interna de los quelíceros se encuentran las denticiones que la tarántula utiliza para masticar minuciosamente a su presa, 
        no de la forma en que lo hacemos nosotros, sino para hacer una especie de maceración ya que las tarántulas realizan una digestión externa segregando 
        sus jugos digestivos a la presa para convertirla literalmente en un licuado de nutrientes que después absorbe como un popote por su cavidad bucal la cual 
        es muy pequeña y no puede pasar sólidos, los quelíceros sirven también como herramientas de excavación y remoción de sustrato y desechos, con los quelíceros 
        y denticiones las tarántulas pasan mucho tiempo acicalándose y peinando sus patas y pedipalpos ya que son animales meticulosamente limpios. En la parte superior 
        del caparcho se encuentra la zona ocular llamada caput, las tarántulas tienen 8 ojos primitivos los cuales realmente solo sirven para poder diferenciar la luz 
        de la oscuridad en la mayoría de los casos, aunque se sabe que en algunas especies arborícolas son un poco mas evolucionados y son capaces de distinguir formas. 
        En el prosoma también se encuentran los pedipalpos, justo a los lados de los quelíceros, estos apéndices no son locomotores sino más bien sensoriales para ver 
        su entorno, captar sabores, temperatura, ayudan a acomodar el bolo alimenticio para su consumo y en el caso de los machos es ahí donde surgirán los bulbos palpales 
        con los ganchos espermáticos para copular con las hembras.
        <br>
        <br>
        En el opistosoma se encuentran los órganos más delicados, como el corazón que es alargado y está ubicado en la parte superior del dorso y se encarga de irrigar 
        todo su cuerpo de hemolinfa, el intestino, el resto del sistema digestivo, los órganos sexuales primarios, los pulmones librales (tienen forma de libro), las 
        glándulas con que fabrican y segregan la seda. La piel que cubre el opistosoma es muy delgada y está cubierta con tricobotrias (pilosidades) que en algunas 
        especies cumplen una función defensiva y en la parte posterior de éste se encuentran las hileras o espineretas digitiformes (con forma de dedo) que son los 
        apéndices con que expulsan y colocan la seda, tiene 4, 2 inferiores y 2 superiores muy notorios en la mayoría de las especies, en la base de las hileras se 
        encuentran cientos de espitas que son unos pequeños tubos por donde sale la seda en forma líquida y al secarse con el aire toma la consistencia conocida.  
    </p>

    <br>
    <img class="imagen_anatomia_2" src="../../../assets/aracnidos_img/anat_1.png">
    <br>
    <img class="imagen_anatomia_2" src="../../../assets/aracnidos_img/anat_2.png">
    <br>
    <br>
    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="anat_3" src="../../../assets/aracnidos_img/anat_3.PNG">
            <p class="anat_texto_2">En la imagen se pueden ver los colmillos desplegados de los quelíceros.</p>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="anat_4" src="../../../assets/aracnidos_img/anat_4.png">
            <p class="anat_texto_2">En la imagen se ve el prosoma de una hembra de Ceratogyrus darlingi, enmarcado en blanco está 
                el caput y dentro de él está el área ocular, la fóvea en el caso del género Ceratogyrus y Sphaerobothria no está 
                hendida sino prolongada hacia el exterior en forma de cuerno esclerosado. </p>
          </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------- -->

    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="anat_5" src="../../../assets/aracnidos_img/anat_5.PNG">
            <p class="anat_texto_2">En la imagen se muestra la escópula con colores iridiscentes.</p>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="anat_6" src="../../../assets/aracnidos_img/anat_6.PNG">
            <p class="anat_texto_2">En la imagen se muestra el quelícero de un ejemplar de Ceratogyrus sanderi, 
                en él se pueden ver las denticiones quelicerales y el colmillo claramente más esclerosado. </p>
          </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------- -->
    
    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="anat_7" src="../../../assets/aracnidos_img/anat_7.PNG">
            <p class="anat_texto_2">Imagen ventral donde se pueden ver los pulmones librales, el área genital y el pedícelo.</p>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="anat_8" src="../../../assets/aracnidos_img/anat_8.PNG">
            <p class="anat_texto_2">Vista de la zona posterior del opistosoma donde se aprecian las hilanderas superiores 
                y posteriores así como el ano. </p>
          </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------- -->
    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="anat_9" src="../../../assets/aracnidos_img/anat_9.PNG">
            <p class="anat_texto_2">En la imagen se ve la pata I de un macho adulto de Psalmopoeus sp. Con el gancho tibial ya desarrollado. 
                Ésta protuberancia tiene como propósito detener los colmillos de la hembra al copular y así evitar ser mordido antes de terminar la cópula, hay especies que no necesitan dicho gancho ya que su apareamiento es menos intempestivo y por ende en la última muda el macho no lo desarrolla</p>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <br>
            <img class="anat_10" src="../../../assets/aracnidos_img/anat_10.PNG">
            <p class="anat_texto_2">Imagen de un macho adulto de Psalmopoeus sp. donde se puede ver en el pedipalpo ya formado el bulbo palpal
                y en él el gancho espermático con que introducirá el esperma a la espermatéca de la hembra.  </p>
          </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------- -->
    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="anat_9" src="../../../assets/aracnidos_img/anat_9.PNG">
            <p class="anat_texto_2">En la imagen se ve la pata I de un macho adulto de Psalmopoeus sp. Con el gancho tibial ya desarrollado. 
                Ésta protuberancia tiene como propósito detener los colmillos de la hembra al copular y así evitar ser mordido antes de terminar la cópula, hay especies que no necesitan dicho gancho ya que su apareamiento es menos intempestivo y por ende en la última muda el macho no lo desarrolla</p>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <br>
            <img class="anat_10" src="../../../assets/aracnidos_img/anat_10.PNG">
            <p class="anat_texto_2">Imagen de un macho adulto de Psalmopoeus sp. donde se puede ver en el pedipalpo ya formado el bulbo palpal
                y en él el gancho espermático con que introducirá el esperma a la espermatéca de la hembra.  </p>
          </div>
        </div>
    </div>

</section>
