<section>
        <br>
        <br>
        <h4>Conservación</h4>

        <img class="conserv_img_t"src="../../../assets/aracnidos_img/Brachypelma auratum.jpg">
   
        <p class="texto_conserv">El tema de la legalidad en las tarántulas es algo muy complejo en cuanto a idiosincrasia en México, desafortunadamente no hay una cultura 
        ecologista arraigada y solo una minoría comprende en realidad el impacto que provoca el tráfico de animales de vida libre, las tarántulas 
        son consideradas animales de segunda categoría dentro de los exóticos, es por esto que la gente piensa que son intrascendentes para la naturaleza, 
        muchos países no las consideran dentro de las leyes de protección ambiental y esto hace que sean “legalmente” saqueadas y comerciadas a otros 
        países donde se adquieren con el estatus de “legal” y en los países donde está regulado su comercio y posesión, las leyes son incompetentes debido 
        a la ignorancia que se tiene en cuanto a éste grupo animal.
        <br>
        <br>
        En México las tarántulas están protegidas por la Ley general de vida silvestre y por la norma oficial mexicana Nom-059-SEMARNAT-2001 de protección 
        ambiental de especies nativas de México de flora y fauna silvestre, siendo necesaria una autorización de la secretaría de medio ambiente y recursos naturales 
        (SEMARNAT) para la extracción, posesión, transportación, comercialización, reproducción y reintroducción de tarántulas dentro del territorio nacional, de 
        lo contrario estaremos cometiendo un delito federal.
        <br>
        <br>
        Internacionalmente son protegidas por la Convención sobre el Comercio Internacional de Especies Amenazadas de Fauna y Flora Silvestre (CITES) en sus siglas en 
        inglés, en donde desde  el año 2003 las tarántulas del género Brachypelma y sus subespecies,  Aphonopelma albiceps, Aphonopelma pallidum y Brachypelmides klaasi 
        (Barchypelma klaasi) son incluidas en el apéndice II, anexo  B  como especies cuya comercialización debe ser regulada, por lo tanto para el comercio internacional 
        de éstas tarántulas es necesaria la autorización del CITES que debe ser incluida en la nota o factura del ejemplar.
        <br>
        <br>
        La  destrucción de bosques y selvas para urbanización, agricultura o tala clandestina en todo el mundo hace que los hábitats de las tarántulas desaparezcan a pasos 
        agigantados, la depredación por parte del hombre en varios países ha mermado a las poblaciones de tarántulas, Brachypelma smithi en México, donde cada vez es más difícil 
        verlas en vida libre cuando hace décadas se veían por cientos en época de apareamiento por la mayor parte de la costa de Guerrero, Grammostola rosea en Chile, donde se ha 
        capturado "legalmente" desde hace muchos años, ahora hay muchas más tarántulas en cautiverio que en su hábitat, Poecilotheria metallica en la India, donde su hábitat se 
        concentra en un área de 100 kilómetros cuadrados que está siendo rápidamente perdida por la tala clandestina, en Camboya son cazadas para comerlas, una costumbre que adoptaron 
        los habitantes de aquel país por la escasez de comida durante la ocupación militar de los Jemeres rojos, desde los años 90's ésta costumbre se extendió a Tailandia, Laos y 
        Vietnam en donde a últimas fechas se ha convertido en una moda un tanto girada al morbo, miles de turistas viajan al año a éstos países para probar el exótico platillo de 
        tarántula frita, esto ha hecho que miles de ejemplares de Haplopelma spp. sean cazados de manera indiscriminada cada año para satisfacer la demanda, en pocos años las poblaciones 
        se verán afectadas y llevadas al borde de la desaparición, en China cientos de ejemplares de Haplopelma spp. y Chilobrachys spp. Son colectados de las selvas para ser convertidos 
        en suvenires y artículos decorativos como llaveros, hebillas de cinturón o encapsulados y colocados de adorno en mouse de computadoras o en plataforma 
        de calzado femenino, todas éstas acciones hacen que sea muy necesaria la concientización de la población global sobre el importante rol que éstos animales juegan, así como 
        leyes más estrictas y bien estructuradas para su protección.
        <br>
        <br>
        En México históricamente la tarántula rodillas rojas (Brachypelma smithi) ha sido saqueada indiscriminadamente desde los años 80’s cuando las películas estadounidenses y las modas 
        europeas las pusieron como ícono de lo considerado “fuera de lo común” pero en los últimos años muchas más especies comenzaron a ser saqueadas y vendidas debido a la triste escasez 
        de la rodillas rojas, especies como B. auratum, B. emilia y B. vagans llegan por cientos a mercados de animales, tianguis y acuarios en Ciudad de México y Guadalajara y más recientemente 
        Aphonopelmas, Citharacanthus, Crassicrus, Cotztetlanas, Davus, Bonnetinas y géneros sin describir están comenzando a ser traficados de la misma manera, la creciente demanda en el país 
        por espacies para aficionados y entusiastas hace que los traficantes tengan un tiempo de auge con éstos animales, muy pocas personas trabajan con las tarántulas en UMAS y PIMVS no pudiendo 
        cubrir la demanda, muchas otras personas meten de manera ilegal tarántulas de otros países, principalmente de Europa y Estados unidos, éstos ejemplares tienen un valor muy bajo ya que no 
        se pagan impuestos ni permisos al entrar de manera ilegal al país, son ejemplares que nacen en cautiverio pero no por esto dejan de ser ilegales al no cumplir con los permisos de importación.
        </p>

          <div class="row">
       
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
              <div>
                <img class="conserv_1" src="../../../assets/aracnidos_img/conserv_1.png">
              </div>
            </div>
  
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
              <div>
                <img class="conserv_2" src="../../../assets/aracnidos_img/conserv_2.png">
              </div>
            </div>
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
                <div>
                    <img class="conserv_3" src="../../../assets/aracnidos_img/conserv_3.png">
                </div>
              </div>
          </div>
          <br>
        <p class="conserv_t_2">
            En las imágenes de arriba, en las dos primeras se muestra un decomiso en Suiza de tarántulas mexicanas procedentes 
            de República Dominicana que fueron saqueadas de las costas del pacífico mexicano, de ésta manera miles de ejemplares 
            son saqueados año tras año con destino a Europa, principalmente a Alemania y España donde son vendidos a precios muy altos. 
            En la tercera se muestra un decomiso en un mercado de  la ciudad de México procedente de Guerrero donde se observan 
            tarántulas en bolsas de plástico y envases de jugos y de refrescos.
        </p>
        <br>
        <div class="row">
       
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
              <div>
                <img class="conserv_1" src="../../../assets/aracnidos_img/conserv_4.png">
              </div>
            </div>
  
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
              <div>
                <img class="conserv_2" src="../../../assets/aracnidos_img/conserv_5.png">
              </div>
            </div>
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
                <div>
                    <img class="conserv_3" src="../../../assets/aracnidos_img/conserv_6.png">
                </div>
              </div>
          </div>
            <br>
          <p class="conserv_t_2">En las imágenes de arriba se muestran decomisos hechos por la Procuraduría federal de protección al 
            ambiente (PROFEPA) la primera imagen de la izquierda muestra tarántulas juveniles que pretendían ser 
            enviadas de Guadalajara a ciudad de México, los ejemplares no contaban con documentos que acreditaran 
            su legal procedencia y según PROFEPA fueron mandados a la UMA Tarántulas de México para su resguardo, 
            la segunda foto fue en un operativo hacho en el mercado Emilio Carranza en la Delegación Venustiano Carranza 
            en Ciudad de México donde se decomisaron más de 30 tarántulas de rodillas rojas y rodillas de fuego, 
            la tercera foto a la derecha muestra ejemplares adultos y subadultos de ejemplares de tarántula chilena 
            rosada, capturadas "legalmente" e importadas a México para su venta.
            Fotos de PROFEPA.</p>

            <div class="row">
       
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0">
                  <div>
                    <img class="conserv_1" src="../../../assets/aracnidos_img/conserv_7.png">
                  </div>
                </div>
      
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0">
                  <div>
                    <img class="conserv_2" src="../../../assets/aracnidos_img/conserv_8.png">
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
                    <div>
                        <img class="conserv_3" src="../../../assets/aracnidos_img/conserv_9.png">
                    </div>
                  </div>
              </div>
              <br>
              <p class="conserv_t_2">
                En las imágenes de arriba se muestra, tarántulas que son utilizadas como suvenir o adornos principalmente en Asia, en México se hace 
                esto en los estados del norte, Principalmente en Durango, en Estados unidos también son utilizados ejemplares de Aphonopelma spp. 
                Para encapsular en hebillas de cinturones, todo esto sin regulación ni algún plan de desarrollo sustentable.
                Fotos de la red.
              </p>
              <br>
              
            <div class="row">
       
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
                  <div>
                    <img class="conserv_10" src="../../../assets/aracnidos_img/conserv_10.png">
                  </div>
                </div>
      
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
                  <div>
                    <img class="conserv_11" src="../../../assets/aracnidos_img/conserv_11.png">
                  </div>
                </div>
              </div>

              <p class="conserv_t_2">Arriba en la imagen de la izquierda se muestra un campamento ilegal de tala en Guerrero donde se destruyen cientos de metros 
                anualmente en bosques y selvas, a la izquierda se muestra a un persona en Camboya llevando cientos de tarántulas fritas para 
                consumo humano,
                Fotos de la red.</p>
                
                <p class="texto_conserv">La conservación de las tarántulas en su hábitat natural es imperativa tanto como la conservación de cualquier especie animal o vegetal que cumple una función 
                    específica en los ecosistemas del planeta y es inherente al uso sustentable y ético de las especies como recurso natural. Debido a la demanda del hombre por espacio, 
                    alimento y materia prima, las especies animales y vegetales están siendo mermadas a pasos agigantados y si no tomamos conciencia como los seres racionales que presumimos 
                    ser, en un futuro muy cercano nuestros hijos solo podrán ver  a los animales y plantas en libros de historia natural y nuestro planeta se consumirá sin remedio, ya que 
                    se alterarían y dejarían de existir las relaciones naturales generadas entre especies de flora y fauna y que son las causantes del balance natural del planeta y que 
                    terminarán influyendo invariablemente en el ser humano.</p>
</section>
