
h4{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    color: wheat;
}
section{
    background: rgb(87,82,99);
    background: linear-gradient(0deg, rgba(87,82,99,1) 0%, rgba(19,14,20,1) 50%, rgba(87,82,99,1) 99%);
}

.texto_conserv{
    font-size: 20px;
    color: white;
    text-align: justify;
    padding: 30px;
}

.conserv_img_t{
    width: 430px;
    height: 400px;
    display: block;
    margin: auto;
    padding: auto;
}

.t_conserv{
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.conserv_1{
    height: 300px;
    width: 400px;
    padding-left: 30px;
}

.conserv_2{
    height: 300px;
    width: 430px;
}

.conserv_3{
    height: 300px;
    width: 300px;
}

.conserv_t_2{
    font-size: 17px;
    text-align: center;
    color: wheat;
    padding: 30px;
}

.conserv_10{
    height: 300px;
    width: 400px;
    padding-left: 30px;
}

.conserv_11{
    height: 300px;
    width: 550px;
}   
