<section>
    <br>
    <h4>La muda o ecdisis</h4>
    <br>
    <p class="texto_conserv">
        Los escorpiones son animales invertebrados, por lo tanto cuentan con un exoesqueleto que recubre toda la superficie de los artrópodos.
<br>
<br>
        El exoesqueleto tiene la función de protección, de respiración y de una forma eficaz como sostén del aparato muscular.
        <br>
        <br>
        Entonces los escorpiones para poder crecer van cambiando su exoesqueleto (conocido como muda) y dejando la anterior en forma idéntica, como si estuviera disecada, y no solo sirve para crecer, también la utilizan para regenerar algunas partes que perdieron.
<br>
<br>
        Para que tenga una muda exitosa se le debe subir la humedad, y sobre todo no estresar al animal, retirando cualquier comida que ignore, y esperar a que mude.
<br>
<br>
        Cuando están en proceso de muda, salen por una abertura que hacen arriba de los queliceros, hasta salir por completo de su antiguo exoesqueleto, secuencia del proceso:
    </p> 
    <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
            <div>
                <img class="imagen" src="../../../assets/aracnidos_img/escorpion_muda2.jpg" alt=""> 
                <p class="letra">Escorpión mudando</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
            <div>
            </div>
          </div>
      </div>
    <p class="texto_conserv" >  
        Una vez ya mudado, estará muy debilitado por lo que es recomendable que se alimente después de una o dos semanas y subirle la temperatura para que endurezca mas rápido su nuevo exoesqueleto.
     </p>
     <div class="row">
        <div class="col-md-6 col-lg-5 d-flex align-items-stretch mb-2 mb-lg-0" >
            <div>
                <img class="imagen" src="../../../assets/aracnidos_img/escorpion_muda.jpg" alt=""> 
            </div>
          </div>
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-2 mb-lg-0" >
            <div>
                <img class="imagen" src="../../../assets/img/escorpion_muda3.jpg" alt=""> 
            </div>
          </div>
      </div>
    </section>