<section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
       <br>
        <h2>Precauciones</h2>
        <br>
            <p > En caso de que nuestra tarántula nos muerda hay algunas cosas que debemos saber, el veneno de las tarántulas es una compleja mezcla química de proteínas como: toxinas, enzimas y péptidos, todos ellos destinados a actuar como herramienta de caza, paralizando y matando a las presas o como método de defensa provocando dolor y otros síntomas.
                <br>
                No hay tratamiento específico para la mordedura de tarántulas, en general se dice que es similar a ser picado por una abeja, sin embargo la sola acción mecánica de la mordedura es dolorosa por el tamaño de los colmillos de algunas especies.</p>
            <br>
            <p >El metabolismo de las tarántulas es muy lento y requieren de poco alimento,  una vez alimentadas no lo necesitarán en varios días por lo cual las hace una muy buena opción para la gente con poco tiempo y poco espacio, los grillos y las cucarachas son muy económicos y fáciles de encontrar en la mayoría de las tiendas de mascotas.</p>
            <br>
            <p>Las setas urticantes de las tarántulas, son colocadas o dejadas como método de defensa por las tarántulas del continente americano, dichas setas actúan como un arpón clavándose en la piel y las mucosas, incluso entran a las vías respiratorias, también son utilizadas para repeler a enemigos cuando la tarántula atraviesa el proceso de ecdisis, colocándolas en la entrada de la madriguera y al rededor de ella, también algunas especies la colocan al rededor del ovisaco para evitar que depredadores lo coman.</p>
            <br>
            <p>Las setas urticantes se agrupan en 6 tipos hasta ahora descubiertos</p>
            <br>
            <p>Tipo I: Están caracterizadas por tener púas en forma de espigas en la base y miden entre 0.2 y 0.6 mm
                <br>
                <br>
                Tipo II: Están presentes en algunas especies de la subfamilia Avicularinae, especialmente en el género Avicularia, miden entre 0.5 a 1.5 mm de largo y se caracterizan por tener púas pequeñas en ambos extremos y éstas se extienden penetrando hacia abajo, mientras que los demás tipos lo hacen hacia arriba.
                <br>
                <br>
                Tipo III: Se caracterizan por tener una punta afilada y sus púas son la mitad de largas que las setas, aunque hay variaciones en cuanto a la longitud, generalmente miden entre 0.3 a 1.2 mm.
                <br>
                <br>
                Tipo IV: Se caracterizan por asemejar un dardo, son muy típicas en el género Grammostola, son largas midiendo entre 0.06 y 0.2 mm.
                <br>
                <br>
                Tipo V: Son exclusivas del género Ephebopus, situándose en la parte distal prolateral del fémur del pedipalpo.
                <br>
                <br>
                Tipo VI: Fueron descubiertas en la especie Hemirrhagus cervinus (Simon, 1891) las setas miden 0.31mm son rectas y fusiformes, son espesas y puntiagudas en los extremos.</p>
                <br>
            <div class="row">
       
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                  <div>
                  </div>
                </div>  
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                    <div>
                      <img class="imagen2" src="../../../assets/img/cetas urticantes.jpg" alt="">
                      <p class="letra">tipos de cetas urticantes </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                    <div>
                    </div>
                  </div>
              </div>
              <h2>Enfermedades</h2>  
              <br>
              <h1>Deshidratación</h1>
              <br>
            <p> Debemos mantener siempre la temperatura y humedad ideal para cada especie. Algunas especies provienen de zonas semi-áridas y desérticas, pero eso no quiere decir que estén todo el día al sol. Las tarántulas al sol se deshidratan rápidamente, por lo tanto las tarántulas que viven en estos climas pasan el día en un agujero donde el clima es ligeramente más fresco y donde el aire es más húmedo que en el exterior. También debemos evitar calentar el terrario con bombillas debido a que estas resecan más el ambiente.
                <br>
                <br>
                Las tarántulas extraen la mayor parte del líquido necesario para hidratarse de las presas que captura, pero es importante que tenga su recipiente con agua.
                <br>
                <br>
                Nos daremos cuenta que una tarántula esta deshidratada observando que el opistosoma estará muy reducido y en algunos casos como una pasa, además apenas se moverán.
                <br>
                <br>
            </p>
            <h1>Hongos</h1>
            <br>
            <p>Observaremos en nuestras tarántulas unas manchas blancas en el cuerpo como si fueran restos de pintura. Esto se da debido a que la humedad dentro de tu terrario es muy alta y promueve a ciertos hongos a invadir el exoesqueleto de la tarántula. Es  fácil de tratar, debemos bajar inmediatamente la humedad del terrario y con un pincel limpiar el área afectado de la tarántula con mezcla de agua con un 10% de cloro, habrá que repetir esta acción todos los días hasta que desaparezca, normalmente en dos sesiones desaparecerán las manchas.
            </p> 
            <div class="row">
       
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                  <div>
                  </div>
                </div>  
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                    <div>
                      <img class="imagen2" src="../../../assets/img/hongosaraña.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                    <div>
                    </div>
                  </div>
              </div>
            <h1>Ácaros</h1>
            <br>
            <p>Los ácaros suelen anidar en los quelíceros o en el cuerpo delantero (prosoma) de las tarántulas. Son unos pequeños parásitos blancos que suelen proliferar en ambientes cálidos y húmedos por lo que es más fácil encontrarlos en terrarios tipo tropicales.
            <br>
            <br>
            Para tratar a nuestra tarántula debemos ponerla en cuarentena, sin ningún tipo de sustrato solo papel de cocina y con un pincel y paciencia retirar el mayor numero de ácaros poco a poco, además el terrario debemos desinfectarle por completo.
            </p> 
            <div class="row">
       
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                  <div>
                  </div>
                </div>  
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                    <div>
                      <img class="imagen2" src="../../../assets/img/acarosaraña.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                    <div>
                    </div>
                  </div>
              </div>
            <h1>Nematodos</h1>
            <p> Son unos gusanos muy pequeños, apenas visibles a simple vista y casi transparentes. Estos se alojan en el aparato digestivo de la tarántula y actuarán hasta causar la muerte del animal. No existe ningún tratamiento. Los signos que podrás observar al principio es que la tarántula empezará a babear constantemente un líquido de color blanquecino, más adelante podrás observar los nematodos salir por la boca, la tarántula dejara de comer meses antes. Una vez detectado es importante aislar a las demás tarántulas y desinfectar uno a uno todos los terrarios ya que los nematodos pueden encontrarse en otro terrario
            </p>
            <div class="row">
       
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                  <div>
                  </div>
                </div>  
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                    <div>
                      <img class="imagen2" src="../../../assets/img/nematodoaraña.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-10 mb-lg-0">
                    <div>
                    </div>
                  </div>
              </div>
      </div>
      
              </div>
              
      </section>
