
h4{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    color: wheat;
}
section{
    background: rgb(87,82,99);
    background: linear-gradient(0deg, rgba(87,82,99,1) 0%, rgba(19,14,20,1) 50%, rgba(87,82,99,1) 99%);
}

.texto_conserv{
    font-size: 20px;
    color: white;
    text-align: justify;
    padding: 30px;
}
.imagen{
    width: 100%;
    height: auto;
}
.letra{
    color:wheat;
}