<br>
<br>
<br>
<br>
<p class="tar_texto">Las tarántulas son organismos que aparecieron hace millones de años y ha cambiado muy poco su biología, esto las hace organismos simples por llamar 
    así a su ciclo biológico, dentro de los arácnidos las tarántulas son de los representantes más prolíficos y prácticos en su descendencia, una hembra 
    puede poner entre 100 y 2000 huevos dependiendo de la especie, edad y condición física del ejemplar.
    ​</p>
<p class="tar_texto">Una vez fuera del Saco pueden pasar algún tiempo junto a la madre, esto puede ser desde unos minutos hasta algunos días, 
    si se quedan por mucho tiempo ella acabará comiéndolos, una vez pasado este tiempo cada uno de los spiderlings tomarán 
    su propio camino y desde ese momento se valdrán por sí mismos, siendo replicas en miniatura de su madre ya están capacitados 
    para cazar su propia comida. A partir de ahora empieza la complejidad de sus vidas, una carrera de obstáculos increíble, 
    midiendo en promedio .5 cm, son el alimento para un gran número de organismos, Artrópodos, anfibios, reptiles, aves y mamíferos, 
    sin contar con algunas afecciones que pueden acabar con sus vidas; infecciones, hongos, parásitos, aparte la selección natural 
    influye al cobrar la vida de los ejemplares más débiles, además de la devastación de sus madrigueras por incendios, inundaciones etc. Es por esto que de un promedio de 800 spiderlings que eclosionan, solo el 1 % llegará a ser adulto y continuar el ciclo de la especie.
<!-- </p>
<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
<img class="spiderlings1" src="../../../assets/aracnidos_img/arañas_saco.png">
</div> -->
<div class="col-md-4 col-lg-2 mb-3 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
    <div class="icon-box icon-box-cyan">
      <div class="icon"></div>
      
      <img class="spiderlings1" src="../../../assets/aracnidos_img/arañas_saco.png">
      <p>ola mundo</p>
    </div>
    <div class="icon-box icon-box-cyan">
        <div class="icon"></div>
        
        <img class="spiderlings2" src="../../../assets/aracnidos_img/araña_saco_2.png">
        <p>ola mundo</p>
      </div>
  </div>
