<section>
  <br>
  <br>  
<h4>La muda o ecdisis</h4>
<img class="imagen_muda" src="../../../assets/aracnidos_img/preservasion_de_muda.jpg">

<p class="muda_texto">Esta sección está aparte de las generalidades ya que es un tema muy importante a tratar, en cautiverio muchos 
    ejemplares mueren al desconocer sus dueños el proceso de ecdisis que es la manera correcta de nombrar al comúnmente 
    llamado cambio de piel o muda de piel, entonces trataré de explicar de manera sencilla y entendible dicho proceso y 
    cuáles son las recomendaciones para que sea exitoso y disminuya el riesgo de muerte para el ejemplar.
    <br>
    <br>
    Todos los artrópodos para poder crecer necesitan atravesar por éste proceso ya que como se menciona anteriormente sus esqueletos 
    son externos y no pueden crecer como el nuestro que es interno y crece con nosotros, necesitan liberarse de él para poder aumentar 
    su tamaño, ellos forman un exoesqueleto nuevo debajo del viejo, es blando y flexible, cuando se liberan del exoesqueleto viejo tienen 
    la oportunidad de expandir su tamaño cuando el exoesqueleto nuevo siga blando, ya que al contacto con el aire se endurecerá otra vez 
    en minutos, el exoesqueleto de los artrópodos es una cutícula esclerosada y conformada principalmente por quitina, éste exoesqueleto 
    les sirve para proteger sus delicados órganos internos, regular su temperatura, protegerlos de la deshidratación, en sus partes internas 
    se invagina para alojar a los músculos.
    <br>
    <br>
    En las tarántulas la ecdisis es muy delicada pues estarán indefensas durante todo el proceso, por eso en la naturaleza ellas se 
    encierran en sus madrigueras y sellan la entrada con capas gruesas de seda, ya que otros animales pueden depredarlas muy fácilmente 
    mientras están indefensas, en cautiverio nosotros debemos poner mucha atención para no cometer ningún error y complicar el proceso, como
    tener demasiado seco el sustrato, no dejarle suficiente espacio para mudar con libertad etc., el proceso puede llevarles desde algunos 
    minutos hasta varias horas, se han registrado casos en que hembras adultas han tardado más de 10 horas en completar el proceso, en el 
    cambio de piel su exoesqueleto será renovado por completo, en el caso de las tarántulas que lancen setas urticantes y desarrollen una "calva" 
    ésta será renovada de igual modo con el exoesqueleto nuevo, cuando una tarántula pierde algún apéndice por una pelea, por escapar de un 
    depredador (las tarántulas pueden realizar autospasia para desprenderse un apéndice) o por algún accidente, es capaz de regenerarlo en las 
    siguientes ecdisis. Patas, palpos, quelíceros, e hileras son regenerados en las ecdisis posteriores de manera paulatina hasta hacerlo por 
    completo y dicho apéndice será totalmente igual al resto y tendrás sus funciones normales.
    <br>
    <br>
    Las tarántulas mudarán con regularidad durante toda su vida, en los ejemplares pequeños (spiderlings) ocurre con mayor frecuencia, cada 3- 4 
    semanas y en los ejemplares grandes solo ocurrirá cada año y en algunas especies cada 2 o 3 años.
    <br>
    <br>
    Hay algunas maneras de notar que nuestra tarántula está próxima a realizar la ecdisis, pueden dejar de comer días incluso semanas antes, 
    pueden encerrarse en sus madrigueras y sellar la entrada, en el caso de las tarántulas que tienen setas urticantes y han desarrollado "calva" 
    se puede notar en el delgado exoesqueleto del opistosoma el nuevo exoesqueleto formado debajo, se nota un oscurecimiento, incluso puede verse 
    totalmente negro, brillante y liso, en general el exoesqueleto de todas las especies se muestra más "desgastado" menos brillante y los colores 
    menos intensos que cuando mudó la última vez, en ejemplares juveniles se puede notar que las patas se hacen delgadas, tomando un aspecto afilado hacia el tarso.
    <br>
    <br>
    Cuando están listas para el proceso, tejen una especie de "cama" de seda y se recuestan sobre ella con la parte ventral hacia arriba, cabe mencionar 
    que algunos ejemplares mudan sin voltearse, estando sobre sus patas, es algo muy raro pero llega a suceder, en la mayoría de los casos mudan sin problema alguno, 
    para ésta parte lo más crítico del proceso ha comenzado, ahora la tarántula empieza a aumentar su ritmo cardíaco, bombeando con más fuerza hemolinfa  y a realizar 
    movimientos especiales para rasgar el exoesqueleto viejo a la altura del caparcho y de ahí la rasgadura avanza de manera horizontal hasta alcanzar el opistosoma y 
    queda desprendido en dos partes, después realizando movimientos continuos y cíclicos la tarántula va liberando sus patas del exoesqueleto viejo, de igual modo los 
    pedipalpos y quelíceros, ésta parte es la que toma más tiempo, una vez liberados todos los apéndices la tarántula queda recostada con las patas encogidas sobre el 
    cuerpo y descansa algunos minutos, después se coloca en su posición normal sobre sus patas y vientre, empezará a hacer algunos movimientos de estiramiento como una 
    persona que hace calistenia, esto le permite expandir su tamaño mientras el nuevo exoesqueleto está blando y flexible, conforme pasen los minutos su exoesqueleto se irá endureciendo, 
    los colores del nuevo exoesqueleto son muy vivos y brillantes, ahora la tarántula es más grande y después de algunos días podrá volver a comer, una vez que sus colmillos se hayan endurecido.
    <br>
    <br>
    Cuando notes alguno de los signos que te mencioné y tu tarántula esté por mudar, no ofrezcas alimento, no la molestes en ningún sentido, no la muevas, no muevas su contenedor, 
    asegúrate de que sus parámetros están bien, ya que durante el proceso no es nada recomendable que aumentes la humedad mojando el sustrato o asperjándolo amenos que la tarántula esté pasando 
    por alguna complicación y debamos ayudar a concluir el proceso, humedeciendo el sustrato sin molestar al ejemplar hasta tener la humedad adecuada, déjala tranquila a que termine el proceso sin 
    perturbaciones, cuando haya terminado no la molestes en algunos días, no la manipules ni muevas el contenedor bruscamente ya que el exoesqueleto como te menciono tarda algunos días en endurecer 
    completamente, pudiéndose lastimar con mucha facilidad, puede herirse y perder hemolinfa hasta morir, de igual modo tienes que esperar algunos días para ofrecer alimentos, unos 4-5 días para tarántulas 
    jóvenes y hasta 8-10 para tarántulas grandes, no es una norma estricta solo es un tiempo estimado que a mí me ha funcionado.
    <br>
    <br>
    Como ya he comentado, en el caso de los machos cuando alcanzan la madurez sexual ya no vuelven a pasar por el proceso de ecdisis, salvo en muy raras ocasiones en donde vuelven a mudar ya 
    teniendo sus órganos reproductores desarrollados, a éstas mudas se les llama supernumerarias y por lo general el resultado es la muerte del ejemplar, es algo muy raro, en 19 años de mantener 
    tarántulas solo lo he observado un par de veces en ejemplares de colegas.
</p>

    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="muda_1" src="../../../assets/aracnidos_img/1_muda.PNG">
            <p class="muda_texto_2">En la imagen se muestra un ejemplar de Xenesthis immanis en proceso de 
               ecdisis, mostrando el exoesqueleto nuevo debajo del viejo, en la parte "calva" 
               se aprecia obscurecido, brillante y liso.</p>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="muda_2" src="../../../assets/aracnidos_img/2_muda.PNG">
            <br>
            <br>
            <p class="muda_texto_2">En ésta imagen se ve al ejemplar ya volteado sobre la cama de seda que construyó 
               y lista para empezar a desprenderse de la piel vieja.</p>
          </div>
        </div>
    </div>
<!-- --------------------------------------------------------------------------- -->

<div class="row">
       
    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
      <div>
        <img class="muda_3" src="../../../assets/aracnidos_img/3_muda.PNG">
        <p class="muda_texto_2">En ésta imagen se puede ver como después de 
        bombear hemolinfa el ejemplar ha rasgado el exoesqueleto viejo y comienza a liberarse.</p>
      </div>
    </div>

    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
      <div>
        <img class="muda_4" src="../../../assets/aracnidos_img/4_muda.PNG">
        <br>
        <br>
        <p class="muda_texto_2">Aquí podemos observar que la tarántula ha rasgado ya 
        en 2 partes el exoesqueleto, ya saco el prosoma y comienza  a liberar sus patas, 
        cuando las libera casi por completo sus patas pueden adoptar formas no naturales, 
        incluso orientadas hacia el lado contrario de las articulaciones, ésto se debe a lo 
        suave y flexible del exoesqueleto nuevo, en minutos toman sus posturas normales.</p>
      </div>
    </div>
</div>

    <!-- --------------------------------------------------------------------------- -->

    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="muda_5" src="../../../assets/aracnidos_img/5_muda.PNG">
            <p class="muda_texto_2">En ésta imagen se ve al ejemplar ya totalmente liberado y con luciendo 
                su nuevo exoesqueleto, se puede observar también como ha regenerado la cubierta de setas que perdió con anterioridad.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="muda_6" src="../../../assets/aracnidos_img/6_muda.PNG">
            <br>
            <br>
            <p class="muda_texto_2">Aquí se observa al ejemplar con su exoesqueleto nuevo, con colores brillantes, 
                después de algunos minutos empezará a estirar su piel nueva y podrás apreciar cuanto creció.</p>
          </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------- -->

    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="muda_7" src="../../../assets/aracnidos_img/7_muda.PNG">
            <p class="muda_texto_2">En ésta imagen de un ejemplar de Brachypelma boehmei, se aprecian los 
                colmillos nuevos de color blanco totalmente suaves, así como los colores vivos y brillantes 
                de la piel nueva.</p>
          </div>
        </div>
    
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            
            <img class="muda_8" src="../../../assets/aracnidos_img/8_muda.PNG">
            <br>
            <br>
            <p class="muda_texto_2">Aquí se puede ver que el ejemplar comienza a liberar sus patas 
                las cuales adoptan posturas raras y no naturales durante éste proceso.</p>
          </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------- -->

    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="muda_9" src="../../../assets/aracnidos_img/9_muda.PNG">
          </div>
        </div>
    
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
            <img class="muda_10" src="../../../assets/aracnidos_img/10_muda.PNG">
          </div>
        </div>
    </div>
    <p class="muda_texto_2">En las imágenes de arriba se ve un ejemplar de Aphonopelma eutylenum a la izquierda 
       y una de Brachypelma auratum a la derecha haciendo estiramiento después de liberarse de su exoesqueleto 
       viejo, esto lo hacen para poder expandir su tamaño antes de que su piel nueva se endurezca por completo. </p>

    <!-- --------------------------------------------------------------------------- -->

    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="muda_11" src="../../../assets/aracnidos_img/11_muda.PNG">
          </div>
        </div>
    
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>

            <img class="muda_12" src="../../../assets/aracnidos_img/12_muda.PNG">
          </div>
        </div>
    </div>
    <p class="muda_texto_2">En la imágenes de arriba se muestra un ejemplar de Brachypelma boehmei, 
        en la imagen de la izquierda se observa que ha perdido se pata IV del lado derecho, en la imagen de 
        la derecha se muestra el mismo ejemplar después de su ecdisis y se observa que ha regenerado la pata 
        aunque no al tamaño y forma normal. </p>

    <!-- --------------------------------------------------------------------------- -->

    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <img class="muda_13" src="../../../assets/aracnidos_img/13_muda.PNG">
            <p class="muda_texto_2">En la imagen podemos ver al mismo ejemplar de Brachypelma boehmei después de 
                su ecdisis número 3 a partir de la pérdida de su pata, se observa cómo ha regenerado casi en su totalidad 
                el miembro perdido en cuanto a tamaño, forma y color.</p>
          </div>
        </div>
    
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>
            <br>
           
          </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------- -->
    <div class="row">
       
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <img class="muda_14" src="../../../assets/aracnidos_img/15_muda.PNG">
          </div>
        </div>
    
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-2 mb-lg-0" >
          <div>
            <br>

            <img class="muda_15" src="../../../assets/aracnidos_img/14_muda.PNG">
          </div>
        </div>
    </div>
    <p class="muda_texto_2">En las imagenes de arriba se muestra a un ejemplar de la especie 
        Bumba pulcherrimaklaasi en muda supernumeraria, el ejemplar no pudo salir del exoesqueleto "viejo"
        Foto y ejemplar de Isaac Pisil Rivera. </p>

        <br>
        <br>

    <p class="muda_texto">
        En conclusión el proceso de ecdisis es crucial en la vida de una tarántula, tienen de hecho probabilidades de morir durante el proceso, 
        es agotador para ellas y puede complicarse en ocasiones, hay veces que mudan sin tener el suficiente espacio y sus extremidades chocan y 
        se doblan contra el escondite, una pared del terrario, una pared de la madriguera, el bebedero etc., y al endurecer el exoesqueleto sus patas quedan 
        chuecas, hay veces que al mudar les sale una protuberancia en el opistosoma de aspecto extraño, con texturas tanto duras como suaves, incluso como una 
        ámpula llena de líquido, hasta ahora no se sabe con exactitud el porqué de ésta afección, no recomiendo el tratar de remover, pinchar o drenar éstas 
        ámpulas ya que los resultados son casi siempre fatales, en ocasiones solo desaparecen en las siguientes ecdisis, muchas veces cuando la humedad no es 
        adecuada al acabar de salir del exoesqueleto viejo se quedan pegadas a la piel nueva porciones de la vieja, por ningún motivo debemos jalar la piel vieja 
        para quitarla, ya que podemos dañar a nuestra tarántula, lo que podemos hacer es elevar la humedad un poco y  caerá sola, si esto no ocurre podemos 
        humedecer la parte pegada con un poco de agua, esperar unos momentos y tratar con muchísimo cuidado de retirarla, si aún no es posible sin aplicar 
        fuerza en ningún momento, sólo la dejaremos ahí, con la humedad terminará cayendo sin afectar a la tarántula, por falta de humedad o debilidad causada 
        por mala manutención puede simplemente no salir de la muda y morir atorada en ella, para las tarántulas arborícolas es necesario escoger buenos puntos de 
        apoyo con los troncos o adornos del terrario, nunca se debe de tener solo con el sustrato, ella mudara generalmente arriba, hay veces que por alguna 
        situación extraña la tarántula cae al sustrato, ante esto debemos mantener la calma y observar a la tarántula, buscaremos alguna lesión que le cause 
        perdida de hemolinfa, si no tienen ninguna únicamente debemos ponerla de nuevo en su cama de tela en la posición normal de la muda, esto lo debemos 
        realizar con sumo cuidado para que la tarántula no sufra ningún trauma durante el proceso,  hay veces que cuando no tenemos ninguna experiencia 
        en el cuidado de las tarántulas cometemos errores muy básicos como ver a nuestra tarántula volteada para mudar y la regresemos a su posición normal, 
        esto en muchas ocasiones puede culminar con la muerte del animal, cuando ya sabemos que el proceso es normal pero algún familiar, amigo, visitante etc., 
        por alguna razón voltea a nuestra tarántula al creer que está muriendo y lo detectamos solo hay que regresar a la tarántula a la posición de muda con sumo 
        cuidado y dejar que termine el proceso normalmente, como mencioné antes el proceso de muda puede tardar muchas horas en algunos casos, así que no debemos entrar 
        en pánico si pasan algunas horas y nuestra tarántula no ha terminado de mudar, no hay un tiempo reglamentario para el proceso, lo único que tenemos que hacer es 
        revisar que el ejemplar esté haciendo los movimientos para salir, si ella está estática durante varias horas posiblemente esté pasando complicaciones, en realidad 
        no hay mucho que hacer si una tarántula comienza el proceso pero ni siquiera puede desprenderse del prosoma, esto se debe generalmente a que atraviesa el proceso 
        después de una muy mala manutención, hay personas que recomiendan ayudar a cortar el exoesqueleto a los ejemplares que no pueden salir, es una práctica que yo nunca 
        he realizado y no recomiendo ya que es muy invasiva y sin el extremo cuidado podemos únicamente acelerar la muerte del ejemplar.
    </p>
</section>
