    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2 class="titulo">Galería</h2>
            <p class="letra">Galería de arácnidos</p>
          </div>
  
          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Todo</li>
                <li data-filter=".filter-t">Tarántula</li>
                <li data-filter=".filter-a">Araña</li>
                <li data-filter=".filter-e">Escorpión</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container" data-aos="fade-up">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Androctonus_Bicolor.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>"Androctonus Bicolor"</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Androctonus_Bicolor.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Androctonus_Bicolor"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Argiope argentatajpg.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Argiope argentata</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Argiope argentatajpg.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Argiope argentata"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Atrax robustus.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Atrax robustus</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Atrax robustus.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Atrax robustus"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Avicularia_affinis.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Avicularia_affinis</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Avicularia_affinis.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Avicularia_affinis"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Bothriurus bonariensis.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Bothriurus bonariensis</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Bothriurus bonariensis.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Bothriurus bonariensis"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Brachistosternus angustimanus.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Brachistosternus angustimanus</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Brachistosternus angustimanus.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Brachistosternus angustimanus"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Brachypelma auratum.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Brachypelma auratum</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Brachypelma auratum.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Brachypelma auratum"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Brachypelma smithi_.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Brachypelma smithi</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Brachypelma smithi_.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Brachypelma smithi"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Buthus ibericus.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Buthus ibericus</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Buthus ibericus.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Buthus ibericus"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Cazierius politus.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Cazierius politus</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Cazierius politus.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Cazierius politus"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Cyclocosmia ricketti.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Cyclocosmia ricketti</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Cyclocosmia ricketti.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Cyclocosmia ricketti"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Euscorpius flavicaudis.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Euscorpius flavicaudis</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Euscorpius flavicaudis.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Euscorpius flavicaudis"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Gasteracantha cancriformis.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Gasteracantha cancriformis</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Gasteracantha cancriformis.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Gasteracantha cancriformis"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Grammostola rosea.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Grammostola rosea</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Grammostola rosea.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Grammostola rosea"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Haplopelma lividum.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Haplopelma lividum</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Haplopelma lividum.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Haplopelma lividum"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Latrodectus hasselti.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Latrodectus hasselti</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Latrodectus hasselti.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Latrodectus hasselti"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Loureedia phonixi.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Loureedia phonixi</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Loureedia phonixi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Loureedia phonixi"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Loxosceles reclusa.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Loxosceles reclusa</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Loxosceles reclusa.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Loxosceles reclusa"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Maratus volans.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Maratus volans</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Maratus volans.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Maratus volans"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Miagrammopes mexicanus.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Miagrammopes mexicanus</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Miagrammopes mexicanus.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Miagrammopes mexicanus"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Misumena vatia.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Misumena vatia</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Misumena vatia.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Misumena vatia"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Nephila clavipes.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Nephila clavipes</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Nephila clavipes.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Nephila clavipes"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Pamphobeteus nigricolor.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Pamphobeteus nigricolor</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Pamphobeteus nigricolor.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pamphobeteus nigricolor"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Parabuthus transvaalicus.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Parabuthus transvaalicus</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Parabuthus transvaalicus.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Parabuthus transvaalicus"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Pholcus phalangioides.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Pholcus phalangioides</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Pholcus phalangioides.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pholcus phalangioides"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Pine Rockland Trapdoor.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Pine Rockland Trapdoor</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Pine Rockland Trapdoor.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pine Rockland Trapdoor"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Scytodes thoracica.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Scytodes thoracica</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Scytodes thoracica.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Scytodes thoracica"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Selenocosmiinae.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Selenocosmiinae</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Selenocosmiinae.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Selenocosmiinae"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Theraphosa blondi.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Theraphosa blondi</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Theraphosa blondi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Theraphosa blondi"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Timogenes elegans.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Timogenes elegans</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Timogenes elegans.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Timogenes elegans"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Tityus Bahiensis.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Tityus Bahiensis</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Tityus Bahiensis.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tityus Bahiensis"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Tityus confluens.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Tityus confluens</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Tityus confluens.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tityus confluens"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-t">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Tliltocatl verdezi.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Tliltocatl verdezi</h4>
                  <p>Tarántula</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Tliltocatl verdezi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tliltocatl verdezi"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-a">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Uloborus plumipes.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Uloborus plumipes</h4>
                  <p>Araña</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Uloborus plumipes.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Uloborus plumipes"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-e">
              <div class="portfolio-wrap">
                <img src="../../../assets/aracnidos_img/Urophonius iheringi.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Urophonius iheringi</h4>
                  <p>Escorpión</p>
                  <div class="portfolio-links">
                    <a href="../../../assets/aracnidos_img/Urophonius iheringi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Urophonius iheringi"><i class="bx bx-plus"></i></a>
                    
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->