.si{
    width: 10%;
    height: auto;
   
}
bx{
    width: 10%;
    height: auto;
}

.subtitulo{
    color: rgb(255, 255, 255);
}

section{
    padding-top: 10px;
    background: rgb(87,82,99);
    background: linear-gradient(0deg, rgba(87,82,99,1) 11%, rgba(19,14,20,1) 90%);
}

.icon-box{
    color: white;
    size: 100px;
}

.texto_esp{
    color:white;
}
.letra{
    color: white;
}
.carousel-slide{
    padding-top: 100px;
}
.carousel-inner{
    padding-top: 100px;
}